<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Taller de sistemas distribuidos</title>


    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/cover.css" rel="stylesheet">
    <link href="css/tablero.css" rel="stylesheet">

    <script  type="text/javascript" src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="function/board.js"></script>
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"> </h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="/">Clase #1.2</a></li>
              </ul>
            </div>
          </div>

          <!--Info de usuario conectado -->
          <div>
        		<h3 id="showSalaActual"></h3>

            <div class="btn-group" role="group">

              <button class="btn btn-default dropdown-toggle" type="button" id="salas" data-toggle="dropdown">
                Salas disponibles
                <span class="caret"></span>
              </button>

              <ul id="selectorSala" class="dropdown-menu dropdown-sala" role="menu">
                <li id="Lobby"><a href="#">Lobby</a></li>
                <li id="Sala1"><a href="#">Sala1</a></li>
                <li id="Sala2"><a href="#">Sala2</a></li>
                <li id="Sala3"><a href="#">Sala3</a></li>
                <li id="Sala4"><a href="#">Sala4</a></li>
                <li id="Sala5"><a href="#">Sala5</a></li>
              </ul>

            </div>
        			<div  id="info" class="table-info">
        				<table class="table row-border">
        					<thead>
        						<tr>
        							<th class="col-md-2">Tu Nick</th>
        							<th class="col-md-2">Tu adversario</th>
        						</tr>
        					</thead>

        					<tbody>
        						<tr>
        							<td id="showNickUser" style="text-align: left;"><td>
                      <td id="showNickEnemy" style="text-align: left;"></td>
        						</tr>
        					</tbody>
        				</table>

        			</div>
        	</div>



          <!--Tablero de Gato -->
          <table id="tablero" class="table">

            <tbody>
              <tr>
                <td id="fila1-col1" class="col-md-4 cuadro cuadroSupDer"></td>
                <td id="fila1-col2" class="col-md-4 cuadro cuadroSupCentro"></td>
                <td id="fila1-col3" class="col-md-4 cuadro cuadroSupIzq"></td>
              </tr>

              <tr>
                <td id="fila2-col1" class="col-md-4 cuadro cuadroCentroDer"></td>
                <td id="fila2-col2" class="col-md-4 cuadro cuadroCentroCentro"></td>
                <td id="fila2-col3" class="col-md-4 cuadro cuadroCentroIzq "></td>
              </tr>

              <tr>
                <td id="fila3-col1" class="col-md-4 cuadro cuadroInfDer"></td>
                <td id="fila3-col2" class="col-md-4 cuadro cuadroInfCentro"></td>
                <td id="fila3-col3" class="col-md-4 cuadro cuadroInfIzq"></td>
              </tr>

            </tbody>
          </table>
          <!--Fin Tablero de Gato -->

         <!--Output con información -->
          <div class="inner cover">
              <div class="row">
                <div class="col-md-12">
                  Resultado: <label id="txt-resultado">desconocido</label>
                </div>
              </div>
           </div>

        </div>

      </div>

    </div>


  </body>
</html>
